@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap-icons/font/bootstrap-icons.css';


:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  background-color: rgb(35, 47, 62);
}


body {
  font-family: var(--inter);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    background-color: rgb(32, 54, 74)
  }
} */

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .hide-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .hide-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow: auto;
  }

  .subtle-blog-text {
    @apply text-gray-500
  }

  .light-blog-text {
    @apply text-gray-400
  }

  .regular-blog-text {
    @apply text-gray-300
  }

  .title-blog-text {
    @apply text-gray-200
  }

  .gray-border {
    @apply border-gray-600
  }

  .blog-a {
    @apply text-blue-500 hover:text-blue-300 transition
  }

  .blog-p {
    @apply text-sm sm:text-base my-5 regular-blog-text [&>a]:blog-a font-light
  }

  .blog-h2 {
    @apply title-blog-text font-bold sm:text-2xl text-xl border-b-[1px] mt-10 mb-5 [&:first-of-type]:mt-3 gray-border
  }

  .blog-h3 {
    @apply title-blog-text sm:text-xl text-lg mt-10 mb-5 border-b-[1px] gray-border font-semibold
  }

  .blog-h4 {
    @apply regular-blog-text my-3 font-semibold bg-gray-600 w-fit italic pr-1
  }

  .blog-ul {
    @apply list-disc pl-5 regular-blog-text text-sm sm:text-base flex flex-col gap-1
  }

  .blog-em {
    @apply subtle-blog-text text-xs flex justify-center w-full sm:max-h-[400px] sm:[&>img]:max-w-[80%] [&>img]:max-w-[100%] my-1 text-center
  }
}

.subtle-text {
  @apply text-gray-500
}

.light-text {
  @apply text-gray-400
}

.regular-text {
  @apply text-gray-300
}

.title-text {
  @apply text-gray-200
}

.gray-border {
  @apply border-gray-600
}

.menu {
  @apply w-[150px] cursor-pointer font-light text-lg
}

.menu-selected {
  @apply w-[150px] cursor-pointer font-bold text-lg
}

.border-test {
  @apply border border-red-300 border-dashed
}

.quote {
  @apply hide-scrollbar overflow-scroll light-text border-s-4 px-3 py-3 my-5 w-full bg-secondary border-s-blue-300 italic [&>p]:mt-3 [&>p:first-of-type]:m-0 text-sm sm:text-base [&>p>a]:blog-a [&>ul]:blog-ul [&>ul>li]:light-blog-text
}

.blog-title {
  @apply text-3xl font-bold m-0 mb-2 leading-tight title-blog-text
}

.blog-image-wrapper {
  @apply flex justify-center w-full sm:max-h-[500px] object-contain [&>img]:max-w-[100%]
}

.blog {
  @apply w-full [&>p]:blog-p [&>h2]:blog-h2 [&>ul]:blog-ul [&>h3]:blog-h3 [&>a]:blog-a [&>em]:blog-em [&>h4]:blog-h4
}

.noncode {
  @apply bg-gray-600 px-1 text-sm rounded-sm text-blue-200 font-code
}

pre {
  @apply text-gray-200 bg-secondary border-[10px] sm:border-[20px] border-solid border-secondary rounded-md overflow-scroll max-w-full sm:text-base text-xs hide-scrollbar [&>*]:font-code
}

.skeleton {
  @apply bg-gray-500 animate-pulse rounded-sm text-gray-500
}

.t-hover-blue {
  @apply [&:hover]:text-blue-300 transition cursor-pointer
}

.t-hover-gray {
  @apply [&:hover]:text-gray-300 transition cursor-pointer
}

.i-hover-up {
  @apply transition cursor-pointer hover:-translate-y-1 transform
}

.utterances {
  @apply max-w-full
}

.MuiSvgIcon-root {
  @apply regular-text
}