@import "tailwindcss";

@theme {
  --font-source-code-pro: var(--font-source-code-pro);
  --font-inter: var(--font-inter);

  --color-background-primary: theme(colors.gray.800);
  --color-background-secondary: theme(colors.gray.700);

  --color-t-emphasized: theme(colors.white);
  --color-t-normal: theme(colors.zinc.100);
  --color-t-subtle: theme(colors.zinc.400);

  --color-b-primary: theme(colors.gray.700);
}


#theme-provider[data-theme=dark] {
  --color-background-primary: theme(colors.gray.800);
  --color-background-secondary: theme(colors.gray.700);

  --color-t-emphasized: theme(colors.white);
  --color-t-normal: theme(colors.zinc.100);
  --color-t-subtle: theme(colors.zinc.400);

  --color-b-primary: theme(colors.gray.700);
}

#theme-provider[data-theme=light] {
  --color-background-primary: theme(colors.white);
  --color-background-secondary: theme(colors.gray.100);

  --color-t-emphasized: theme(colors.black);
  --color-t-normal: theme(colors.zinc.700);
  --color-t-subtle: theme(colors.zinc.500);

  --color-b-primary: theme(colors.neutral.200);
}

#theme-provider {
  @apply bg-background-primary text-t-normal transition-colors duration-300 font-inter;
}

.debug-border {
  @apply border border-dashed border-red-500;
}

.transcolor {
  @apply transition-colors duration-300;
}

code {
  @apply rounded-xl;
}