@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'bootstrap-icons/font/bootstrap-icons.css';


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

.menu {
  @apply w-[150px] cursor-pointer font-light text-lg
}

.menu-selected {
  @apply w-[150px] cursor-pointer font-bold text-lg
}

.border-test {
  @apply border border-red-300 border-dashed
}

.quote {
  @apply text-gray-400 border-s-4 ps-5 my-3 italic
}

.title {
  @apply text-[30px] font-bold text-black
}

.blog {
  @apply w-full sm:[&>p]:text-base [&>p]:text-sm [&>p]:my-5 [&>p]:text-gray-700 [&>h2]:font-bold sm:[&>h2]:text-2xl [&>h2]:text-lg [&>h2]:border-b-[1px] [&>h2]:my-5 [&>h2:fisrt-of-type]:m-0 [&>ul]:list-disc [&>ul]:pl-5 [&>ul]:text-gray-700 [&>h3]:font-bold sm:[&>h3]:text-lg [&>h3]:text-base [&>h3]:my-5 [&>h3]:border-b-[1px]
}

.noncode {
  @apply bg-gray-100 px-1 text-sm border border-gray-200 rounded-md
}

pre {
  @apply text-gray-200 bg-gray-700 border-[10px] sm:border-[20px] border-solid border-gray-700 rounded-md overflow-scroll max-w-full sm:text-base text-xs
}

.skeleton {
  @apply bg-gray-200 animate-pulse rounded-sm text-gray-200
}

.t-hover-blue {
  @apply [&:hover]:text-blue-300 transition cursor-pointer
}

.t-hover-gray {
  @apply [&:hover]:text-gray-300 transition cursor-pointer
}